.root {
  min-width: 350px;
  min-height: 400px;
  overflow: hidden;

  border-radius: 10px;

  background: var(--bg-dark);
  box-shadow: 0 0 15px rgba(246, 246, 246, 0.15);
  border: 1px solid #a1a1a1;
  ;
}

.header {
  display: flex;
  justify-content: start;
  gap: 1rem;
  align-items: center;

  padding: 1rem;
  border-radius: 10px;
  background: var(--bg-dark);
  color: #a1a1a1;
}